n8n-curasnap-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "textRaw",
              "stringValue": "={{ $json.chatInput }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "8ddc661b-dd41-4d21-935f-d890e1356359",
      "name": "Prepare Request Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/api/v1/notes/format",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "textRaw",
              "value": "={{ $json.textRaw }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7ce1a995-846e-4030-b13a-828978b5d6a0",
      "name": "Call Backend API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        448,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hlG6IGYTbXivBhxT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.textStructured }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "9ec744a4-3b2c-46cb-8215-a228be99f456",
      "name": "Extract SOAP Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -48,
        0
      ],
      "id": "d7682545-0f6f-4522-b69a-698ffc940020",
      "name": "When chat message received",
      "webhookId": "9ba368b3-7dbe-4c39-882c-86fcb848b158"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/api/v1/notes/format-audio",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "b7f7b3ab-6946-4b7f-ab3b-7298b20e02cb",
      "name": "Call Backend API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        224,
        -208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hlG6IGYTbXivBhxT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/ben/Desktop/Test-Audio/audio1.ogg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -48,
        -208
      ],
      "id": "f34a020f-d71d-400f-afb3-f18c084b4fce",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.textStructured }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "0e06410d-d05c-47d6-a1f5-b778e896a74f",
      "name": "Extract SOAP Response1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        448,
        -208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare Request Data": {
      "main": [
        [
          {
            "node": "Call Backend API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend API": {
      "main": [
        [
          {
            "node": "Extract SOAP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Prepare Request Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend API1": {
      "main": [
        [
          {
            "node": "Extract SOAP Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Call Backend API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b95e1772-3f0e-46ad-aa13-fe615fc1f25d",
  "meta": {
    "instanceId": "4a9607c1162472f40742fe3705401d82381faa53abbb89bce44abbe278f74e13"
  },
  "id": "ON1ONghCwFBGHMGq",
  "tags": [
    {
      "createdAt": "2025-07-16T14:54:33.589Z",
      "updatedAt": "2025-07-16T14:54:33.589Z",
      "id": "Ajq5kBAfWZ6djBsG",
      "name": "testing"
    },
    {
      "createdAt": "2025-07-16T14:54:33.594Z",
      "updatedAt": "2025-07-16T14:54:33.594Z",
      "id": "lPWwAsQq0go0VKKN",
      "name": "medical"
    },
    {
      "createdAt": "2025-07-16T14:54:33.581Z",
      "updatedAt": "2025-07-16T14:54:33.581Z",
      "id": "qvAtby2QvOeqju4b",
      "name": "ai"
    }
  ]
}